body {
    padding-top: 100px;

}

.container {
    max-width: 825px;
    width: 100%;
    padding: 0 16px;
    margin: auto;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: auto;
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #002EFF;
}

.headerWrapper {
    display: flex;
    justify-content: first baseline;
    justify-content: space-between;
    align-items: center;

}

.logo {
    max-width: 65px;
    width: 100%;
}

.link {
    color: #FFFFFF;

}

.link:first-child {
    margin-right: 30px;
}

.content {
    margin-top: 100px;
}

.title {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #191919;
    margin: 0;
}

.description {
    margin-top: 20px;
}

.formVendedor {
    margin-top: 40px;
}


.formBlock {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 40px;
}

.formTitle {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #002EFF;
    margin-bottom: 26px;
    display: block;
}

.inputComponent {
    /*margin-left: 30px;
*/
}

.inputComponent:first-child {
    margin-left: 0;
}

.inputTitle {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #191919;
    margin-bottom: 10px;
}

.inputContent>* {
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 8px;
    margin-bottom: 26px;
    width: 100%;
    padding: 0;
}

.formArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputFullName {
    flex: 2;
    margin-right: 30px;

}

.inputFlex1 {
    flex: 0 0 255px;

}

@media (max-width: 414px) {

    .inputFlex1,
    .inputFullName {
        flex: auto;
        width: 100%;
        margin-right: 0;
    }
}

.btnSendForm {
    background: #FF3D00;
    border-radius: 22.5px;
    margin-top: 40px;
    margin-left:650px;
}

.btnName {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-inline: ;
}

.tableTitle {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #191919;

}

.contentTable {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #191919;
}